.container{
    background-color: lightcoral;
    padding: 1em;
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

.item{
    background-color: blue;
    color: white;
    font-size: 3em;
}

.item:hover{
    background-color: red;
    font-size: 4em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}