*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 50px);
    background-color: chartreuse;
    padding: 10px;
}


.div1{
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 5px;
}

.div2{
    background-color: brown;
    margin: 5px;
}

.div3{
    background-color: blue;
    margin: 5px;
}

.div4{
    background-color: green;
    margin: 5px;
}

.div5{
    background-color: aqua;
    margin: 5px;
}

.div6{
    background-color: darkblue;
    margin: 5px;
}

.div7{
    background-color: darkred;
    margin: 5px;
}