.Smiley{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 300px;
    flex-direction: column;
    border-radius: 50%;
    background-color: rgb(232, 232, 5);
}


.nase{
    
    height: 12%;
    width: 6%;
    background-color: black;
    border-radius: 50%;
}


.augen{
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 40%;
    align-items: center;
}

.auge1{
    width: 20%;
    height: 35%;
    background-color: black;
    border-radius: 50%;
}

.auge2{
    width: 20%;
    height: 35%;
    background-color: black;
    border-radius: 50%;
}



.mund{
    
    width: 45%;
    height: 10%;
    border-radius: 0 0 100px 100px ;
    border-bottom: 50px solid black;
}

.Alles{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Smiley:hover{
    .mund{
        border-bottom: 60px solid white;
    
    }

    .auge1{
        background-color: white;
        height: 8%;
    }

    .auge2{
        background-color: white;
    }

    .nase{
        background-color: white;
    }
}