

.container{
    background-color: lightcoral;
    padding: 1em;
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: space-evenly;
    align-items: flex-start;

}

.item{
    background-color: blue;
    color: white;
    padding: 1em;
    margin: 1em;
}

.item:nth-child(1){
    font-size: 1em;
}

.item:nth-child(2){
    font-size: 1.5em;
}

.item:nth-child(3){
    font-size: 2em;
    align-self: flex-end;
    order: -1;
    flex-grow: 1;
}

.item:nth-child(4){
    font-size: 2.5em;
}

.item:nth-child(5){
    font-size: 3em;
}

.item:nth-child(6){
    font-size: 3.5em;
}

